* {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	 color: black;
	 font-weight: normal;
 }
/*
#volume-box{
	display: flex;
}

*/
#volume {
	float: none;
	clear: left;
	width: 155px;
	margin-top: 15px;
	margin-bottom: 15px;
}



#turnonvolume, #bass, #balance, #treble {
	float: none;
	clear: left;
	width: 215px;
	margin: 15px;
	margin-top: 25px;
	margin-bottom: 4px;
}

#volumetext, #turnonvolumetext, #basstext, #balancetext, #trebletext {
	padding-left: 30px;
}

.ui-slider-range {
	background:#d3d3d3;
	ms-touch-action: none;
	touch-action: none;
}
.ui-slider-handle  {
	height: 25px;
	width: 25px;
	padding-left: 0px;
}
.btn {
	border-radius: 5px;
	text-align: center;
	margin-left: 5px;
	width: 25px;
}
#onoffForm  { padding-left: 75px;  padding-bottom: 10px;}
#audioForm  { padding-left: 70px; padding-top: 10px; padding-bottom: 10px;}

#Box {
	border-color:black;
	border-width:3px; 
	background: #F2F2F2;
	width: 250px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


fieldset {
	border: 0;
}

select {
	width: 220px;
}


.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item {
    padding: 0.5em 0 0.5em 2em;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
    height: 24px;
    width: 24px;
    top: 0.1em;
}
.ui-icon.ON {
	background: url('img/on.png') 0 0 no-repeat;
}
.ui-icon.OFF {
	background: url('img/off.png') 0 0 no-repeat;
}

a.ui-slider-handle span.Slider_Value{
    position: absolute;
    top: -35px;
    left: -2px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #E6E6E6;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

a.ui-slider-handle:hover span.Slider_Value{
    display: block;
}   
